/* Common include file for resource definitions */
#include "winver.h"

1 VERSIONINFO
FILEVERSION MODULEMAJOR, MODULEMINOR, MODULEBUILD, 0
PRODUCTVERSION MODULEMAJOR, MODULEMINOR, MODULEBUILD, 0
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_DLL
{
    BLOCK "StringFileInfo" {
        BLOCK "040904b0" {
            VALUE "FileDescription", "Tcl Windows API Extension DLL"
            VALUE "OriginalFilename", MODULE_STR
            VALUE "CompanyName", "Ashok P. Nadkarni"
            VALUE "FileVersion", FILE_VERSION_STR
            VALUE "LegalCopyright", "Copyright © 2012 Ashok P. Nadkarni"
            VALUE "ProductName", "Tcl Windows API Extension"
            VALUE "ProductVersion", PRODUCT_VERSION_STR
        }
    }
    BLOCK "VarFileInfo" {
        VALUE "Translation", 0x0409, 0x04B0
    }
}



#ifdef TWAPI_SCRIPT_RESOURCE_PATH
/*
 NOTE: 
 If you get strange errors on the next line, confirm that your
 TWAPI_SCRIPT_RESOURCE file path does not contain a "-" (e.g.
 c:\src\twapi-new\blah blah). The rc compiler stops parsing at
 the "-" and complains file not found. What a crock!
 */
MODULENAME TWAPI_SCRIPT_RESOURCE_TYPE TWAPI_SCRIPT_RESOURCE_PATH
#endif

